
.header-contain {
    display: grid;
    width: 100%;
    background-image: url("https://i.imgur.com/CTBAxBQ.jpeg");
    /*/src/assets/images/background-s1.jpg*/
    background-size: cover;
    background-position: top;
    border-bottom: 5px solid white;
    margin-bottom: 20px;
}

.head-contain{
    display: inline-table;
    margin: 10%;
}

.text1-s1,.text2-s1{
    font-weight: 500;
}

.bt-s1{
    margin: 0;
    width: fit-content;
    background-color: #2c3761;
}

.bt-s1 a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {

    .text1-s1,.text2-s1{
        font-size: 8vh;
        font-weight: 500;
    }
}