
/*Mobile First*/

.container-menu {
  display: grid;
}

.hamburger-react {
  text-align: center;
  margin-top: 1rem;
  margin-right: -1.5rem;
  grid-column: 5/6;
  grid-row: 1/2;
}

.logo-menu {
  padding-left: 1.2rem;
  grid-column: 1/4;
  grid-row: 1/2;
  width: 6rem;
  height: 5.5rem;
}

.container-menu nav {
  text-decoration: none;
  grid-column: 1/6;
  grid-row: 2/3;
}

.active {
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.5rem;
  
}

.active a {
  text-decoration: none;
}

li {
  padding: 0 0 0.5rem 0;
}

.hidden {
  display: none;

}

.styledicon {
  color: #2C3761;
  width: 1.5rem;
  height: 1.5rem;
  
}

.styledcart {
  grid-column: 4/5;
  grid-row: 1/2;
}


@media screen and (min-width: 1000px) {

ul {
  height: 300px;
}

  .navbar-options li {
    display: flex;
    flex-direction: row;
    text-decoration: none;

  }

  .container-menu nav {
    
    grid-column: 1/6;
    grid-row: 2/3;
  }

  .container-menu nav ul {
    flex-direction: row;
  }
}

.p-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  right: 10rem;
  top: 24.6rem;
  background-color: red;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
  margin:0px;
 
}

.navbar-options li a {
  text-decoration: none;
}


.cart-icon p {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: -1.2rem;
  top: 0.9rem;
  border-radius: 50%;
  background: #99cbf7;
  color: #fff;
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}