.previewcontainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.previewcontainer img {
    height: 200px;
    margin: 0.2rem 0;
    padding: 0 0.5rem 0 0.5rem;
}



