@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");


/*Mobile First*/



.container-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    88.7deg,
    rgba(221, 221, 221, 1) -16.4%,
    rgba(255, 255, 255, 1) 89%
  );
}

.card-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}


.imgBx {
  width: 50%;
  height: 12.5rem;
}

.imgBx img {
  width: 100%;
  height: 100%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
 
}

.content h2 {
  margin: 0 0;
  font-size: 3vw;
}
.content h3 {
  margin: 0.5rem 0 0;
  font-size: 3vw;
}

.content p {
  margin: 0.5rem 0 0;
  font-size: 3vw;
}



.perspective {
  border-radius: 8px;
  height: 150px;
  width: 200px;
  
  margin-top: 15px;
}



/* 1200px */

@media screen and (min-width: 1200px) {

  .imgBx {
  height: 30rem;
  }

  .content h2 {
    margin: 0 0;
    font-size: 4vh;
  }
  .content h3 {
    margin: 0.5rem 0 0;
    font-size: 6vh;
  }
  
  .content p {
    margin: 0.5rem 0 0;
    font-size: 4svh;
  }

}


@media screen and (min-width: 900px) and (max-width: 1200px) {
  .imgBx {
    height: 25rem;
    }
  
    .content h2 {
      margin: 0 0;
      font-size: 3vh;
    }
    .content h3 {
      margin: 0.5rem 0 0;
      font-size: 5vh;
    }
    
    .content p {
      margin: 0.5rem 0 0;
      font-size: 4vh;
    }
  
  }
  
  @media screen and (min-width: 786px) and (max-width: 900px) {
    .imgBx {
      height: 25rem;
      }
    
      .content h2 {
        margin: 0 0;
        font-size: 3vh;
      }
      .content h3 {
        margin: 0.5rem 0 0;
        font-size: 4vh;
      }
      
      .content p {
        margin: 0.5rem 0 0;
        font-size: 3vh;
      }
    
    }
    





