@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    }
    
    
    body {
        margin: 0;
        padding: 0;
           
    }

    button {
        margin-top: 30px;
        background-color: var(--primary);
        border: none;
        padding: 1em 2em;
        border-radius: 5px;
        color: var(--secondary);
        font-weight: 600;
        font-size: 1rem;
        box-shadow: 2px 5px 23px -2px rgb(65 40 17);
    }
    
    #root {
        
        align-self: flex-end;
        /*width: 100%;*/ /*Está generando un espacio en blanco a la derecha*/
    }
    




